@model string

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>¡Gracias!</h1>
        <h2>@Model</h2>
    </hgroup>
    <div class="col-md-4">
        @Html.ActionLink("Volver a Inicio", "VolverAInicio", "Home", new { area = "" }, new { @class = "btn", @style = "background-color: orange;color:black;border-color:black;", @onmouseover = "this.style.backgroundColor='yellow';", @onmouseout = "this.style.backgroundColor='orange';" })
    </div>
</body>
</html>
