@{
    ViewBag.Title = "Inicio";
}

<main>
    <div class="form-horizontal">
        <br /><br />
        <div class="d-flex" style="background-color: antiquewhite; border-radius: 10px; padding:10px;">
            <div class="col-md-8">
                <h2>Aprendizaje Inclusivo 100% Virtual</h2>
                <p>¡Bienvenidos a Educar Igualdad!</p>
                <p>Somos tu puerta de entrada al mundo de la comunicación inclusiva a través de capacitaciones en lenguaje de señas de manera accesible y efectiva.</p>
                <p>Descubre una forma única de aprender y comunicarte en un entorno inclusivo.</p>
                @Html.ActionLink("Crear Cuenta", "CrearAlumno", "Usuario", new { area = "" }, new { @class = "btn", @style = "background-color: orange;color:black;border-color:black;", @onmouseover = "this.style.backgroundColor='yellow';", @onmouseout = "this.style.backgroundColor='orange';" })
            </div>
            <div class="col-md-4">
                <img src="~/Images/image22311-io3-400h.png" style="width:100%;height:100%;" alt="Alternate Text" />
            </div>
        </div>
    </div>
</main>